/* Styles for the main page */


body {
    background: #2d2d2d;
    color: #fff;
    font-family: Arial;
    margin: 0 auto !important;
}

#page-container {
    width: 100%;
    margin: 0 auto;
}

#page-container .content {
    text-align: center;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.input-text {
    display: none;
    color: #000;
}
.input-text.active {
    display: block;
    margin: 0 auto;
    clear: both;
}


/*========================================
@Login Page
=========================================*/

body.login {
    background: #7d93cf;
    margin: 0 auto;
}

.login .header {
    background: #2d2d2d;
    text-align: center;
    margin-top: 75px;
}

.login .content {
    bottom: 50px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
}

.login .content .login-button {
    padding: 20px;
    background: none repeat scroll 0 0 #2d2d2d;
    border: 3px solid #fff;
    border-radius: 15px;
    width: 75%;
    margin: 0 auto;
}

.login .content .login-button:hover {
    cursor: pointer;
}

.login .content .login-button > * {
    display: inline-block;
    vertical-align: middle;
}

.login .content .login-button button {
    background: none;
    border: none;
    color: #8a8a8a;
    font-size: 1.1em;
}

/*========================================
@Settings Page
=========================================*/

.api-container h3 {
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    vertical-align: middle;
    width: 85px;
    color: #74a7ff;
    font-weight: normal;
}

.settings #page-container .description {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #74a7ff;
    border-radius: 50px;
}

.button-container {
    background: #980000;
    border-radius: 25px;
    display: inline-block;
    height: 26px;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 50px;
}

.button-container.active {
    background: #dfdfdf;
}

.button {
    background: #9c9cff;
    border-radius: 20px;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 0;
}

.button-container.active .button {
    right: 0;
    left: auto;
}

.button-container::after {
    content: '';
    float: left;
}

.button:hover {
    cursor: pointer;
}

.next-container {
    display: none;
}

.next-container.active {
    display: block;
}

.footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer img {
    max-width: 100px;
}

/*========================================
@Snapchat Login Page
=========================================*/
#snapchatForm .button {
    width: auto;
    height: auto;
    border-radius: inherit;
    border: inherit;
}

#snapchatForm .input-text {
	display: block;
	margin: 0 auto;
}

.validation-advice {
    color: red;
}

/*==========================================
@Nuke Page
===========================================*/

.nuke #page-container {
    width: 50%;
    margin:150px auto;
    text-align: center;
}

.nuke #nuke-container {
    width: 50%;
    margin:-325px auto;
    text-align: center;
}

.nuke .button {
    border-radius: 500px;
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background-color: #980000;
    margin: 0 auto 10px;
}

.nuke .text {
    font-size: 500%;
    color: #FFFFFF;
}